@{
    ViewBag.Title = "О нас";
}

<div class="container">
    <h2>О нас</h2>
    <p>Проект выполнен студентами UTM группы SI-233:</p>
    <ul>
        <li>Лозов Александр</li>
        <li>Марченко Илья</li>
    </ul>
    <p>Мы смогли создать рабочий сайт по продаже велосипедов, мы старались, не судите строго.</p>

    <img src="/Content/imgs/thx.jpg" alt="Фото команды UTM SI-233" style="clip-path: inset(20px 10px 3px 10px); width: 100%; height: 450px; display: block; margin-bottom: 20px;" />
</div>