@{
    ViewBag.Title = "Поддержка";
}

<div class="container">
    <h2>Поддержка</h2>
    <p>Если у вас есть вопросы или предложения, свяжитесь с нами:</p>
    <ul>
        <li>Лозов Александр: <a href="mailto:alexandr.lozov@isa.utm.md">alexandr.lozov@isa.utm.md</a></li>
        <li>Марченко Илья: <a href="mailto:ilia.marcenco@isa.utm.md">ilia.marcenco@isa.utm.md</a></li>
    </ul>
    <p>Мы будем рады помочь!</p>
</div>